@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* Variables */
$primary-color: #436436 ;
$secondary-color: #EC4E20;
$elements-color: #FCD581;
$link-color: #fff;
$font-color: #c4fbff;
$font-righteous: 'Righteous', cursive;
$font-zenzoo:'Zen Tokyo Zoo', cursive;
$font-sans: 'Source Sans Pro', sans-serif;
$font-size: 14px;

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

/* Mixins */
@mixin animation($property) {
  animation: $property;
  -moz-animation: $property;
  -webkit-animation: $property;
  -o-animation: $property;
}

/* Extend */
%flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

$breakpoints: (
  "small": 767px,
  "medium": 992px,
  "large": 1200px
);
